body 
{
    background: rgb(255, 255, 255);
 font-family: Arial, Helvetica, sans-serif;
}
.container {

    width: auto; 
    margin: auto;
    border : 0px solid rgb(0, 0, 0);
}
header {

    background: rgb(0, 0, 0);
    height: 100px;
    width: auto;
    margin: 0px;  
    color: rgb(255, 255, 255);


}
.logo1{
    float: left;
    list-style-type: auto;
    margin: 0;
    padding: 0;
    display: flex;

}


.menu {
    float: right;
    list-style-type: none;
    margin: 40px;
    padding: 0;
    display: flex; /* Usamos flexbox para crear un diseño horizontal */
  }
  
  .menu li {
    margin-right: 20px; /* Agregamos un margen derecho entre los elementos del menú */
  }
  
  .menu li a {
    display: block;
    padding: 8px 40px; /* Agregamos espacio de relleno para mejorar la apariencia del menú */
    text-decoration: none;
    color: #ffffff; /* Cambia el color de texto según tus preferencias */
  }
  
  .menu li a:hover {
    background-color: #474747; /* Cambia el color de fondo cuando se pasa el mouse por encima */
  }