body 
{
    background: rgb(255, 255, 255);
 font-family: Arial, Helvetica, sans-serif;
}
.container {

    width: auto; 
    margin: auto;
    border : 0px solid rgb(0, 0, 0);
}
header {

    background: rgb(0, 0, 0);
    height: 100px;
    width: auto;
    margin: 0px;  
    color: rgb(255, 255, 255);


}
.logo1{
    float: left;
    list-style-type: auto;
    margin: 0;
    padding: 0;
    display: flex;

}


.menu {
    float: right;
    list-style-type: none;
    margin: 40px;
    padding: 0;
    display: flex; 
  }
  
  .menu li {
    margin-right: 20px; 
  }
  
  .menu li a {
    display: block;
    padding: 8px 40px; 
    text-decoration: none;
    color: #ffffff; 
  }
  
  .menu li a:hover {
    background-color: #474747; 
  }

  .jumbotron{
    background-color:rgb(22, 22, 22);
    padding: 250px;
    margin-bottom: 20px;
  }
  .jumbotron h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .jumbotron p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
  }

.jumbotron h2 {
    color:#ffffff;
}

.jumbotron img{
    float: right;
}
.jumbotron input{
    float: center;
    height: 10px;
    width: 600px;
    padding: 3px;
    font-size: 20px;
}
.jumbotron input{
    float: center;
    height: 40px;
    width: 300px;
}
.boton1{
    background-color: #ffffff;
    font-size: 20px;
    padding: 10px 19px;
    border: 3px solid #ffffff;
}

.contenedor-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}    
.textob{
    text-align: center; 
}
.textob h1{
    font-size: 60px;
}
.textob p{
    font-size: 30px;
}
.contenedorA{
    background-color: rgb(22, 22, 22);
    padding: 120px;
    margin-bottom: 20px;

}
.contenedorA h1{
    float: center;
    font-size: 50px;
    color:rgb(255, 255, 255);
}
.contenedorA p{
    float: center;
    font-size: 20px;
    color: #ffffff;
}
.contenedorA h2{
    font-size: 20px;
    color:#ffffff;
}

.registro h2{
    float: left;
    font-size: 10px;
    color:#ffffff; 
}
.contenedorA img{
    float: right;
    padding: 60px;
}
.Pie{
    background-color: #ffffff;
    float: right;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex; 
    text-align: center;
}
.Pie nav{
    display: flex;
    justify-content: center;
}
.Pie li {
    margin-right: 0px; 
  }
  
.Pie li a {
    display: block;
    padding: 8px 30px; 
    text-decoration: none;
    color: #000000; 
  }
  
.Pie li a:hover {
    background-color: #474747; 
  }
.textoc{
    text-align: center; 
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
}
